@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  min-height: 100vh; /* Ensures content fills viewport height */
  display: flex;
  flex-direction: column; /* Stack content vertically */
}

.image{
  height: 40vh;
  width: 60vw;
  justify-content: center;
  justify-items: center;
}